.customers__list {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  color: #70757a;
}

.customers__list span {
  color: green;
}
.customers__list p {
  font-weight: bold;
}

.customers__listContainer {
  min-height: 76vh;
}
.customers__listCard {
  border-radius: 30px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 30px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}
.customers__listCard:nth-child(even) {
  background-color: rgb(230 227 216);
}
.showSearchResult {
  display: none;
}
.customers__searchResults {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #70757a;
}
.customers__pagination {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 5px;
}

.customers__fullName {
  display: flex;
  justify-content: space-between;
}
.customers__fullName span,
.customers__detail span {
  font-weight: bold;
  font-size: 12px;
}
.customers__listMore {
  display: none;
}
.customers__search {
  display: flex;
  justify-content: center;
  margin: 10px;
  position: sticky;
  top: 60px;
}
.customers__search label {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.customers__searchInput {
  height: 12px;
  border: 1px solid gray;
  padding: 17px;
  width: 80vw;
  border-radius: 20px;
  outline-width: 0;
}
.customers__searchIcon {
  height: 33px !important;
  background-color: #3f51b5;
  color: rgba(63, 81, 181, 0.5);
  border-right: 1px solid rgba(181, 154, 63, 0.12);
}
.customers__showBtn {
  font-size: 13px !important;
  text-transform: none !important;
  color: #844b00 !important;
}

@media only screen and (min-width: 576px) {
  .customers__listCard {
    width: 45vw;
  }
  .customers__searchInput {
    width: 45vw;
  }
}

@media only screen and (min-width: 768px) {
  .customers__listCard {
    width: 40vw;
  }
  .customers__searchInput {
    width: 40vw;
  }
}
