.customers__list {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  color: rgb(109, 108, 108);
}

.customers__list span {
  color: green;
}

.customers__listContainer {
  min-height: 76vh;
}
.customers__listCard {
  border-radius: 30px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 30px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}
.customers__listCard:nth-child(even) {
  background-color: rgb(243, 241, 241);
}
.customers__pagination {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 5px;
}

.customers__fullName {
  display: flex;
  justify-content: space-between;
}
.customers__fullName span,
.customers__detail span {
  font-weight: bold;
  font-size: 12px;
}
.customers__listMore {
  display: none;
}
.customers__search {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.customers__search label {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.customers__searchInput {
  height: 12px;
  padding: 15px;
  width: 80vw;
  outline-width: 0;
}
.customers__searchIcon {
  /* padding: 15px; */
  height: 33px !important;
  background-color: #cd9042;
}

@media only screen and (min-width: 576px) {
  .customers__listCard {
    width: 45vw;
  }
  .customers__searchInput {
    width: 45vw;
  }
}

@media only screen and (min-width: 768px) {
  .customers__listCard {
    width: 40vw;
  }
  .customers__searchInput {
    width: 40vw;
  }
}
