.header {
  padding-left: 10px;
  padding-right: 10px;
  background: #e79324;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 30px;
  margin: 10px 2px;
  object-fit: contain;
}
.header h2 {
  font-size: 16px;
  padding-top: 10px;
  font-weight: bold;
}

@media only screen and (min-width: 568px) {
  .header__search {
    display: flex;
    flex: 0.4;
  }
}
