.loader__container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

#loader {
  border: 1rem solid #f8f9fa;
  border-radius: 50%;
  border-top: 1rem solid #e79324;
  width: 8rem;
  height: 8rem;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
